*{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #bbcadf;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  max-width: 30rem;
  margin: 0 auto;
  background: white;
}

header{
  /* background: yellow; */
  flex: 2;
  background-image: url("assets/img/OIP.jfif");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: row;
}

main{
  flex: 5;
  background-color: rgba(159, 127, 189, 0.699);
  position: relative;

}

footer{
  background: rgba(233, 233, 30, 0.534);
  height: 1.5rem;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  color: #3f4f95;
}

li{
  color: rgba(13, 67, 77, 0.973);
}